#page-report-customlog-index .info {
    margin: 10px;
}

#page-report-customlog-index .logselectform {
    margin: 10px auto;
}

#page-report-customlog-user .info {
    margin: 10px;
    text-align: center;
}
